VITE_WEB3FORMS_ACCESS_KEY="your_web3forms_access_key_here"
VITE_CONTACT_EMAIL="your.email@example.com"
VITE_GITHUB_USERNAME="yourgithub"
VITE_LINKEDIN_USERNAME="yourlinkedin"
VITE_TRYHACKME_USERNAME="yourtryhackme"
